@model IEnumerable<Order>

@{
    ViewData["Title"] = "Order List";
}

<h2>Orders List</h2>


<div class="content">

    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">

                <div class="card">
                    <div class="card-body">

                        <table class="table mt-3">
                            <a asp-action="Create" class="btn btn-primary">Create Order</a>

                            <thead>
                            <tr>
                                <th scope="col">Menu Name</th>
                                <th scope="col">Order Size</th>
                                <th scope="col">Order Piece</th>
                                <th scope="col">Order Price</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Menu.Name</td>
                                    <td>@item.OrderSize.Size</td>
                                    <td>@item.OrderPiece</td>
                                    <td>@item.OrderPrice</td>
                                    <td><a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>|<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success">Edit</a></td>
                                </tr>
                            }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
